{
	"root": true, // set this config as the root config (don't look for additional configurations in parent folders)

	"env": {
		"es2020": true, // enables ES6 syntax and global variables for ES11
		"node": true
	},

	"parser": "@typescript-eslint/parser", // allows linting of .vue files

	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},

	"plugins": ["@typescript-eslint", "prettier"],

	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:prettier/recommended"
	],

	"rules": {
		"prettier/prettier": "error",
		//"no-console": "error",
		"@typescript-eslint/interface-name-prefix": ["error", { "prefixWithI": "always" }]
	}
}
